{% if steps[0] is defined %}
{% for st in steps %}
<div class="col-md-6" data-step-id="{{ st.stepId }}">
    <div class="panel panel-wizard recipe-step">
        <div class="panel-heading clearfix">
            <button class="btn btn-danger control-button col-md-offset-10" data-step-id="{{ st.stepId }}">Baigiau</button>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 text-center">
                    <img src="{{ asset('uploads/recipe_images/vistienosrcp/' ~ st.image) }}"
                         alt="Išvirti bulves" class="recipe-step-img"/>

                    <div class="recipe-step-timepanel">
                        <img src="{{ asset('assets/images/clock_icon.png') }}"
                             title="Tai yra vidutinis laikas, kurį užtruko varototjai vykdydami šį žingsnį"
                             alt="Kiti vartotojai užtruko"/>
                        <span>{{ st.totalTimeCount }} min.</span>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8">
                    <div class="row text-center-xs">
                        <div class="col-md-12">
                            <p class="step-description">
                                {{ st.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<div class="col-md-6" data-step-id="{{ steps.stepId }}">
    <div class="panel panel-wizard recipe-step">
        <div class="panel-heading clearfix">
            <button class="btn btn-danger col-md-offset-10 control-button" data-step-id="{{ steps.stepId }}">Baigiau</button>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 text-center">
                   <img src="{{ asset('uploads/recipe_images/vistienosrcp/' ~ steps.image) }}"
                         alt="Išvirti bulves" class="recipe-step-img"/>

                    <div class="recipe-step-timepanel">
                        <img src="{{ asset('assets/images/clock_icon.png') }}"
                             title="Tai yra vidutinis laikas, kurį užtruko varototjai vykdydami šį žingsnį"
                             alt="Kiti vartotojai užtruko"/>
                        <span>{{ steps.totalTimeCount }} min.</span>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8">
                    <div class="row text-center-xs">
                        <div class="col-md-12">
                            <p class="step-description">
                                {{ steps.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}