{% extends '::base.html.twig' %}

{% block header %}
    <a href="{{ path('cts_recipes_homepage') }}"><h1>CookTimeSaver | <span>00:20</span></h1></a>
{% endblock %}

{% block body %}
    <h1 class="text-center">Makaronai su padažu</h1>
<div id="make-recipe">
    <div class="container">
        <div class="row">
            <h1 class="text-center">Gaminti liko: 19:59</h1>
        </div>
        <div class="panel panel-warning recipe-step">
            <div class="panel-heading">
                <h3 class="panel-title">Išvirti bulves</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img src="{{ asset('assets/images/test_images/step-potatoes.png') }}" alt="Išvirti bulves" class="recipe-step-img" />
                        <div class="recipe-step-timepanel">
                            <div class="row">
                                <div class="col-xs-6 text-left">
                                    Reikia laiko:
                                </div>
                                <div class="col-xs-6 text-right">
                                    15:00
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 text-left">
                                    Tau liko:
                                </div>
                                <div class="col-xs-6 text-right">
                                    15:00
                                </div>
                            </div>
                            </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="step-description">
                                    Pastabos kaip išvirti bulves
                                </p>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-danger">Baigti</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-success recipe-step">
            <div class="panel-heading">
                <h3 class="panel-title">Supjaustyti morkas</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="{{ asset('assets/images/test_images/step-carrots.png') }}" alt="Supjaustyti morkas" class="recipe-step-img" />
                        <div class="recipe-step-timepanel">
                            Kiti vartotojai vidutiniškai užtruko: 2:37
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="step-description">
                                    Pastabos kaip supjaustyti morkas
                                </p>
                            </div>
                            <div class="col-md-12">
                               <button class="btn btn-primary">Pradėti</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-success recipe-step">
            <div class="panel-heading">
                <h3 class="panel-title">Supjaustyti morkas</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="{{ asset('assets/images/test_images/step-carrots.png') }}" alt="Supjaustyti morkas" class="recipe-step-img" />
                        <div class="recipe-step-timepanel">
                            Kiti vartotojai vidutiniškai užtruko: 2:37
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="step-description">
                                    Pastabos kaip supjaustyti morkas
                                </p>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary">Baigta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-success recipe-step">
            <div class="panel-heading">
                <h3 class="panel-title">Supjaustyti morkas</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="{{ asset('assets/images/test_images/step-carrots.png') }}" alt="Supjaustyti morkas" class="recipe-step-img" />
                        <div class="recipe-step-timepanel">
                            Kiti vartotojai vidutiniškai užtruko: 2:37
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="step-description">
                                    Pastabos kaip supjaustyti morkas
                                </p>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary">Baigta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
