{% extends '::base.html.twig' %}

{% block metatags %}
    {{ parent() }}
    <meta property="og:title" content="{{ recipe.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ urls.recipe_img }}" />
    <meta property="og:url" content="{{ urls.recipe_url }}" />
    <meta property="og:description" content="{{ recipe.description }}" />
{% endblock %}

{% block header %}
    <header>
        <a href="{{ path('cts_recipes_homepage') }}"><h1>CookTimeSaver | <span>Recepto gamyba</span></h1></a>
    </header>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/tooltipster.css') }}">
{% endblock %}

{% block body %}
    <div class="recipe-title">
        <h1>{{ recipe.title }}</h1>
        <div class="recipe-description">
            <a href="#" id="recipe-desc-trigger">
                <img src="{{ asset('assets/images/make-step-dropdown.png') }}" alt="Drop down" />
            </a>
            <div class="desc">
                <p>
                    {{ recipe.description }}
                </p>
            </div>
        </div>
    </div>
    <div id="make-recipe" data-recipe-id="{{ recipe.id }}">
        <div class="container">
            <div class="row progress-row">
                <div class="col-md-1 text-center">
                    <span id="progress-bar-span" data-steps-count="{{ steps_count }}">0/{{ steps_count }}</span>
                </div>
                <div class="col-md-11">
                    <div id="steps-progress">
                        <div class="progress-line"></div>
                    </div>
                </div>
            </div>
            <div id="currently-making-steps">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="steps-block-title">Recepto žingsniai:</h2>
                    </div>
                </div>
                <div class="steps-container clearfix"></div>
            </div>
        </div>
        <div class="skanaus">
            <h1>Skanaus!</h1>
            <h2>Pasidalink šiuo receptu su draugais:</h2>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ urls.recipe_url }}" target="_blank">
                <img src="{{ asset('assets/images/fb_share.png') }}" alt="FB share" />
            </a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery.color.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.tooltipster.min.js') }}"></script>
    <script src="{{ asset('assets/js/jQueryRotateCompressed.js') }}"></script>
    <script src="{{ asset('assets/js/make_food.js') }}"></script>
{% endblock %}