{% extends '::base.html.twig' %}

{% block header %}
    <header>
        <a href="{{ path('cts_recipes_homepage') }}"><h1>CookTimeSaver | <span>Recepto gaminimas</span></h1></a>
    </header>
{% endblock %}

{% block body %}
    <div class="recipe-title">
        {{ recipe.title }}
    </div>
    <div id="make-recipe" data-recipe-image="{{ asset('uploads/recipe_images/large/' ~ recipe.img) }}" data-recipe-id="{{ recipe.id }}">
        <div class="container">
            <div id="currently-making-steps">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="steps-block-title">Vykdomi žingsniai:</h2>
                    </div>
                </div>
                <div class="steps-container clearfix"></div>
            </div>
            <div id="steps-queue">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="steps-block-title">Galite pradėti daryti:</h2>
                    </div>
                </div>
                <div class="steps-container clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery.color.js') }}"></script>
    <script src="{{ asset('assets/js/make_food.js') }}"></script>
{% endblock %}