<div class="recipe-description">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{ recipe.img }}" alt="Receptas" class="recipe-thumbnail"/><br/>
            <a class="btn btn-primary" href="make_food/{{ recipe.id }}">Pradėti gaminti</a>
        </div>
        <div class="col-md-7 col-md-offset-1 recipe-requirements">
            <h2>Reikalingi ingridientai:</h2>
            <ul>
                {% for item in recipe.recipeIngredients %}
                    <li>{{ item.ingredient.ingredient }} ({{ item.amount }})</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12 text-justify">
            {{ recipe.description }}
        </div>
    </div>
</div>