{% extends '::base.html.twig' %}

{% block header %}
    <a href="{{ path('cts_recipes_homepage') }}"><h1>CookTimeSaver | <span>{{ hr }}:{{ min }}</span></h1></a>
{% endblock %}

{% block body %}
    <div id="search">
        <div class="heading container">
            <div class="row">
                <div class="col-md-4 col-md-push-4">
                    <div class="searchpage-time-chooser clearfix">
                        <div class="time-chooser-hours">
                            <div class="chooser-title text-center">
                                val
                            </div>
                            <input name="hours" placeholder="00" value="{{ hr }}" maxlength="2"
                                   autocomplete="off"/>
                        </div>
                        <span>:</span>

                        <div class="time-chooser-mins">
                            <div class="chooser-title text-center">
                                min
                            </div>
                            <input name="minutes" placeholder="20" value="{{ min }}" maxlength="2"
                                   autocomplete="off"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center col-md-pull-4">
                    <div class="heading-input">
                        <h3>Žinai ką turi šaldytuve?</h3>
                        <input id="have-in-fridge" placeholder="Noriu receptų su..."/>
                    </div>
                </div>

                <div class="col-md-4 text-center">
                    <div class="heading-input">
                        <h3>Gal valgai ne viską?</h3>
                        <input id="not-eating" placeholder="Nenoriu kad juose būtų..."/>
                    </div>
                </div>
            </div>

        </div>
        <div id="search-results-container">
            <div class="container">
            <h1>Populiariausi</h1>
            <div class="row">
                {% for y in range(1, 4) %}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="result">
                        <img src="{{ asset('assets/images/test_images/product.png') }}" alt="Patiekalas" class="result-img"/>
                        <div class="result-description clearfix">
                            <div class="icon-space">
                                <img src="{{ asset('assets/images/cook_icon.png') }}" alt="Recepto pavadinimas" />
                            </div>
                            <div class="result-title">
                                <a href="#">Aštri sriuba su pomidorais ir pupelėmis</a>
                            </div>
                        </div>
                        <div class="result-time-required">
                            <img src="{{ asset('assets/images/clock_icon.png') }}" alt="Laikas" />
                            <span>00:12</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
            <div class="container">
            <h1>Greičiausiai paruošiami</h1>
            <div class="row">
                {% for y in range(1, 4) %}
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="result">
                            <img src="{{ asset('assets/images/test_images/product.png') }}" alt="Patiekalas" class="result-img"/>
                            <div class="result-description clearfix">
                                <div class="icon-space">
                                    <img src="{{ asset('assets/images/cook_icon.png') }}" alt="Recepto pavadinimas" />
                                </div>
                                <div class="result-title">
                                    <a href="#">Aštri sriuba su pomidorais ir pupelėmis</a>
                                </div>
                            </div>
                            <div class="result-time-required">
                                <img src="{{ asset('assets/images/clock_icon.png') }}" alt="Laikas" />
                                <span>00:12</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
{% endblock %}
