{% extends '::base.html.twig' %}

{% block header %}
    <header>
        <a href="{{ path('cts_recipes_homepage') }}"><h1>CookTimeSaver | <span>{{ hr }}:{{ min }}</span></h1></a>
    </header>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/select2.css') }}">
{% endblock %}

{% block body %}
    <div id="search">
        <div class="heading container">
            <div class="row">
                <div class="col-md-4 col-md-push-4">
                    <div class="searchpage-time-chooser clearfix">
                        <div class="time-chooser-hours">
                            <div class="chooser-title text-center">
                                val
                            </div>
                            <input name="hours" placeholder="00" value="{{ hr }}" maxlength="2"
                                   autocomplete="off" class="time-input"/>
                        </div>
                        <span>:</span>

                        <div class="time-chooser-mins">
                            <div class="chooser-title text-center">
                                min
                            </div>
                            <input name="minutes" placeholder="20" value="{{ min }}" maxlength="2"
                                   autocomplete="off" class="time-input"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center col-md-pull-4">
                    <div class="heading-input">
                        <h3>Žinai ką turi šaldytuve?</h3>
                        <input id="have-in-fridge" placeholder="Noriu receptų su..."/>
                    </div>
                </div>

                <div class="col-md-4 text-center">
                    <div class="heading-input">
                        <h3>Gal valgai ne viską?</h3>
                        <input id="not-eating" placeholder="Nenoriu kad juose būtų..."/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary" id="search-button">Ieškoti</button>
                </div>
            </div>

        </div>
        <div id="search-results-container"></div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            updateSearchResults({{ hr }}, {{ min }});
        });
    </script>
    <script src="{{ asset('assets/js/select2.min.js') }}"></script>
    <script>
        function tagFormatResult(food) {
            var markup = "<div class='food-title'>" + food.title + "</div>";
            return markup;
        }

        function tagFormatSelection(food) {
            return food.title;
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#have-in-fridge, #not-eating').select2({
                width: '210px',
                multiple: true,
                minimumInputLength: 2,
                ajax: {
                    url: "ajax_autocomplete",
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            q: term
                        };
                    },
                    results: function (data, page) {
                        return {results: data.food};
                    }
                },
                formatResult: tagFormatResult,
                formatSelection: tagFormatSelection,
                dropdownCssClass: "bigdrop"
            });
        });
    </script>
{% endblock %}